<div class="p-1"></div>
<div class="d-flex justify-content-center">
  <div class="col-6">
    <div class="row">
      <div class="col-md-12">
        <div class="card border border-light change-pass-form">
          <div class="card-body">
            <h4 class="card-title" style="font-size: 35px">ĐỔI MẬT KHẨU</h4>
            <p>Thay đổi mật khẩu cho tài khoản của bạn. Bạn nên đặt mật khẩu mạnh để chặn những truy cập
              trái phép vào tài khoản của mình</p>
            <form [formGroup]="changePasswordForm"
                  (ngSubmit)="updatePassword(openSuccessModalBtn, closeModalBtn, errorModalBtn, closeErrorModalBtn)">
              <div class="row" style="padding: 15px 50px">
                <div class="col-md-12">

                  <div class="form-group">
                    <label for="new-password">Token <span class="text-danger">(*)</span>:</label>
<!--                    <div class="input-group" *ngIf="!showNewPassword">-->
<!--                      <input type="text" class="form-control" name="token" id="token"-->
<!--                             formControlName="token">-->
<!--                    </div>-->
                    <label for="new-password">Mật khẩu mới <span class="text-danger">(*)</span>:</label>
                    <div class="input-group" *ngIf="!showNewPassword">
                      <input type="password" class="form-control" name="new-password" id="new-password"
                             formControlName="newPassword">
                      <i (click)="toggleShowNewPassword()" class="fa-solid fa-eye input-group-text eye-icon"
                         style="cursor: pointer; pointer-events: all;"></i>
                    </div>
                    <div class="input-group" *ngIf="showNewPassword">
                      <input type="text" class="form-control" name="new-password" formControlName="newPassword">
                      <i (click)="toggleShowNewPassword()" class="fa-solid fa-eye-slash input-group-text eye-icon"
                         style="cursor: pointer; pointer-events: all;"></i>
                    </div>
                    <div *ngIf="newPassword?.touched">
                      <small class="text-danger" *ngIf="newPassword?.errors?.['required']">Vui lòng nhập mật khẩu
                        mới.</small>
                      <small class="text-danger" *ngIf="newPassword?.errors?.['pattern']">Mật khẩu phải có ít nhất 8 ký tự,
                        1 chữ viết hoa, 1 chữ viết thường, 1 ký tự đặt biệt, 1 chữ số và không được chứa khoảng trắng,
                        tab, v.v...</small>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="comfirm-password">Xác nhận mật khẩu mới <span class="text-danger">(*)</span>:</label>
                    <div class="input-group" *ngIf="!showConfirmNewPassword">
                      <input (change)="checkConfirmNewPassword()" type="password" class="form-control"
                             name="comfirm-password"
                             id="comfirm-password" formControlName="confirmNewPassword">
                      <i (click)="toggleShowConfirmNewPassword()" class="fa-solid fa-eye input-group-text eye-icon"
                         style="cursor: pointer; pointer-events: all;"></i>
                    </div>
                    <div class="input-group" *ngIf="showConfirmNewPassword">
                      <input (change)="checkConfirmNewPassword()" type="text" class="form-control"
                             name="comfirm-password"
                             formControlName="confirmNewPassword">
                      <i (click)="toggleShowConfirmNewPassword()" class="fa-solid fa-eye-slash input-group-text eye-icon"
                         style="cursor: pointer; pointer-events: all;"></i>
                    </div>
                    <div *ngIf="confirmNewPassword?.touched">
                      <small class="text-danger" *ngIf="confirmNewPassword?.errors?.['required']">Vui lòng nhập xác nhận mật
                        khẩu mới.</small>
                      <small class="text-danger" *ngIf="confirmNewPassword?.errors?.['passwordNoMatch']">Xác nhận mật khẩu
                        không khớp với mật khẩu mới.</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <button [disabled]="!changePasswordForm.valid" type="submit" class="btn btn-grad-blue mx-1"><i
                  class="fa fa-paper-plane"></i> XÁC NHẬN
                </button>
                <button [routerLink]="['']" type="button" class="btn btn-grad-red mx-1"><i
                  class="fa-solid fa-right-from-bracket"></i> HỦY BỎ
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="p-1"></div>

<button [hidden]="true" #openSuccessModalBtn data-toggle="modal" data-target="#successModal"></button>
<!--success modal-->
<div id="successModal" class="modal fade">
  <div class="modal-dialog modal-confirm modal-confirm-success">
    <div class="modal-content">
      <div class="modal-header modal-header-success justify-content-center">
        <div class="icon-box">
          <i class="material-icons">&#xE876;</i>
        </div>
      </div>
      <div class="modal-body text-center">
        <h4>Tuyệt!</h4>
        <p>Thay đổi mật khẩu thành công.</p>
        <button #closeModalBtn [routerLink]="['/login']" type="button" class="btn btn-grad-blue" id="delete_btn"
                data-dismiss="modal">ĐỒNG Ý
        </button>
      </div>
    </div>
  </div>
</div>

<button [hidden]="true" #errorModalBtn data-toggle="modal" data-target="#errorModal"></button>
<!--error modal-->
<div id="errorModal" class="modal fade">
  <div class="modal-dialog modal-confirm modal-confirm-danger">
    <div class="modal-content">
      <div class="modal-header modal-header-danger justify-content-center">
        <div class="icon-box">
          <i class="material-icons">&#xE5CD;</i>
        </div>
      </div>
      <div class="modal-body text-center">
        <h4>Ooops!</h4>
        <p>Đã có lỗi xảy ra !!!</p>
        <button #closeErrorModalBtn class="btn btn-grad-red" data-dismiss="modal">THỬ LẠI</button>
      </div>
    </div>
  </div>
</div>
