
<div class="col-6">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title" style="font-size: 35px">TÌM TÀI KHOẢN CỦA BẠN</h4>
          <div>
            <form [formGroup]="usernameForm" (ngSubmit)="submit(openSuccessModalBtn, countdown, closeModal, errorModalBtn,
                  resetCodeBtn)">
              <div  class="form-group">
              <label for="current-password"><h5>Email <small class="text-danger">(*)</small>:</h5></label>
              <input type="text" class="form-control" name="current-password"
                     placeholder="Vui lòng nhập tên email của bạn"
                     id="current-password" formControlName="email">
              </div>
              <div class="text-center">
                <button (click)="changeSpinFlag()" [disabled]="!usernameForm.valid" type="submit" class="btn btn-grad-blue mx-1"><i *ngIf="!spinFlag" class="fa fa-paper-plane"></i> <span *ngIf="spinFlag" class="spinner-border spinner-border-sm" role="status"></span> XÁC NHẬN
                </button>
                <button [routerLink]="['']" type="button" class="btn btn-grad-red mx-1"><i class="fa-solid fa-right-from-bracket"></i> HỦY BỎ</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<button [hidden]="true" #openSuccessModalBtn data-toggle="modal" data-target="#successModal"></button>
<!-- Modal -->
<div class="modal fade" id="successModal" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header"  style="background-color: #EB3349">
        <h2 class="modal-title" id="exampleModalLabel" style="color: #ffffff">Nhập mã xác thực</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <p>Mã xác thực đã được gửi vào email của bạn !</p>
          <input type="text" class="form-control" name="current-password" placeholder="Nhập mã xác thực"
                 id="comfirmCode" [(ngModel)]="confirmCode">
          <small class="text-danger">{{errorMessage}}</small>
          <p class="pt-3 text-danger">Mã sẽ hết hạn sau <countdown #countdown [config]="config"></countdown>s.</p>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-grad-blue" (click)="checkCode(closeModal)"><i class="fa fa-paper-plane"></i> GỬI</button>
        <button #closeModal (click)="refreshCode(countdown)" type="button" class="btn btn-grad-red" data-dismiss="modal"><i class="fa-solid fa-right-from-bracket"></i> HỦY</button>
      </div>
    </div>
  </div>
</div>

<button [hidden]="true" #errorModalBtn data-toggle="modal" data-target="#errorModal"></button>

<!--error modal-->
<div id="errorModal" class="modal fade">
  <div class="modal-dialog modal-confirm modal-confirm-danger">
    <div class="modal-content">
      <div class="modal-header modal-header-danger justify-content-center">
        <div class="icon-box">
          <i class="material-icons">&#xE5CD;</i>
        </div>
      </div>
      <div class="modal-body text-center">
        <h4>Thông báo</h4>
        <p>Mã xác nhận đã hết hạn.</p>
        <button (click)="refreshCode(countdown)" class="btn-modal btn-grad-red" data-dismiss="modal">THỬ LẠI</button>
      </div>
    </div>
  </div>
</div>

<button [hidden]="true" #resetCodeBtn (click)="refreshCode(countdown)"></button>
