<!--&lt;!&ndash;footer&ndash;&gt;-->
<!--<div style="background-color: aliceblue">-->
<!--<section id="newsletter" class="newsletter">-->
<!--  <div class="container-fluid">-->
<!--    <div class="hm-footer-details">-->
<!--      <div class="row">-->
<!--        <div class=" col-md-3 col-sm-6 col-xs-12">-->
<!--          <div class="hm-footer-widget">-->
<!--            <div class="hm-foot-title">-->
<!--              <h4>information</h4>-->
<!--            </div>&lt;!&ndash;/.hm-foot-title&ndash;&gt;-->
<!--            <div class="hm-foot-menu">-->
<!--              <ul>-->
<!--                <li><a href="#">about us</a></li>&lt;!&ndash;/li&ndash;&gt;-->
<!--                <li><a href="#">contact us</a></li>&lt;!&ndash;/li&ndash;&gt;-->
<!--                <li><a href="#">news</a></li>&lt;!&ndash;/li&ndash;&gt;-->
<!--                <li><a href="#">store</a></li>&lt;!&ndash;/li&ndash;&gt;-->
<!--              </ul>&lt;!&ndash;/ul&ndash;&gt;-->
<!--            </div>&lt;!&ndash;/.hm-foot-menu&ndash;&gt;-->
<!--          </div>&lt;!&ndash;/.hm-footer-widget&ndash;&gt;-->
<!--        </div>&lt;!&ndash;/.col&ndash;&gt;-->
<!--        <div class=" col-md-3 col-sm-6 col-xs-12">-->
<!--          <div class="hm-footer-widget">-->
<!--            <div class="hm-foot-title">-->
<!--              <h4>collections</h4>-->
<!--            </div>&lt;!&ndash;/.hm-foot-title&ndash;&gt;-->
<!--            <div class="hm-foot-menu">-->
<!--              <ul>-->
<!--                <li><a href="#">wooden chair</a></li>&lt;!&ndash;/li&ndash;&gt;-->
<!--                <li><a href="#">royal cloth sofa</a></li>&lt;!&ndash;/li&ndash;&gt;-->
<!--                <li><a href="#">accent chair</a></li>&lt;!&ndash;/li&ndash;&gt;-->
<!--                <li><a href="#">bed</a></li>&lt;!&ndash;/li&ndash;&gt;-->
<!--                <li><a href="#">hanging lamp</a></li>&lt;!&ndash;/li&ndash;&gt;-->
<!--              </ul>&lt;!&ndash;/ul&ndash;&gt;-->
<!--            </div>&lt;!&ndash;/.hm-foot-menu&ndash;&gt;-->
<!--          </div>&lt;!&ndash;/.hm-footer-widget&ndash;&gt;-->
<!--        </div>&lt;!&ndash;/.col&ndash;&gt;-->
<!--        <div class=" col-md-3 col-sm-6 col-xs-12">-->
<!--          <div class="hm-footer-widget">-->
<!--            <div class="hm-foot-title">-->
<!--              <h4>my accounts</h4>-->
<!--            </div>&lt;!&ndash;/.hm-foot-title&ndash;&gt;-->
<!--            <div class="hm-foot-menu">-->
<!--              <ul>-->
<!--                <li><a href="#">my account</a></li>&lt;!&ndash;/li&ndash;&gt;-->
<!--                <li><a href="#">wishlist</a></li>&lt;!&ndash;/li&ndash;&gt;-->
<!--                <li><a href="#">Community</a></li>&lt;!&ndash;/li&ndash;&gt;-->
<!--                <li><a href="#">order history</a></li>&lt;!&ndash;/li&ndash;&gt;-->
<!--                <li><a href="#">my cart</a></li>&lt;!&ndash;/li&ndash;&gt;-->
<!--              </ul>&lt;!&ndash;/ul&ndash;&gt;-->
<!--            </div>&lt;!&ndash;/.hm-foot-menu&ndash;&gt;-->
<!--          </div>&lt;!&ndash;/.hm-footer-widget&ndash;&gt;-->
<!--        </div>&lt;!&ndash;/.col&ndash;&gt;-->
<!--        <div class=" col-md-3 col-sm-6  col-xs-12">-->
<!--          <div class="hm-footer-widget">-->
<!--            <div class="hm-foot-title">-->
<!--              <h4>newsletter</h4>-->
<!--            </div>&lt;!&ndash;/.hm-foot-title&ndash;&gt;-->
<!--            <div class="hm-foot-para">-->
<!--              <p>-->
<!--                Subscribe to get latest news,update and information.-->
<!--              </p>-->
<!--            </div>&lt;!&ndash;/.hm-foot-para&ndash;&gt;-->
<!--            <div class="hm-foot-email">-->
<!--              <div class="foot-email-box">-->
<!--                <input type="text" class="form-control" placeholder="Enter Email Here....">-->
<!--              </div>&lt;!&ndash;/.foot-email-box&ndash;&gt;-->
<!--              <div class="foot-email-subscribe">-->
<!--                <span><i class="fa fa-location-arrow"></i></span>-->
<!--              </div>&lt;!&ndash;/.foot-email-icon&ndash;&gt;-->
<!--            </div>&lt;!&ndash;/.hm-foot-email&ndash;&gt;-->
<!--          </div>&lt;!&ndash;/.hm-footer-widget&ndash;&gt;-->
<!--        </div>&lt;!&ndash;/.col&ndash;&gt;-->
<!--      </div>&lt;!&ndash;/.row&ndash;&gt;-->
<!--    </div>&lt;!&ndash;/.hm-footer-details&ndash;&gt;-->

<!--  </div>&lt;!&ndash;/.container&ndash;&gt;-->

<!--</section>&lt;!&ndash;/newsletter&ndash;&gt;-->
<!--</div>-->
